/* ----------------- стили для офлайн ----------------- */
body {
    padding:0;
    margin:0;
}
body > .em_AROUND{
    max-width:840px;
    margin:0 auto;
}

/* прилипчивый блок внизу */
.stickUP {
    text-align: right;
    position: sticky;
    bottom: 0;
}
.stickUP img {
    max-height:50px;
}



/* подпись к заголовку */
._underhead {
    color:#2a280d;
    text-align: center;
    font-size:0.8em;
    margin-top:-1.2em;
    text-indent:initial;
}
/* ----------------- стили для офлайн ----------------- */
